body{
	font-family: Harry Potter;
	background-image: url(contacts_bg.jpg);
	background-size: 100% 110%;
	background-repeat: no-repeat;
}

*{
	padding: 0px;
	margin: 0px;
}

#MainDiv{
	width: 100%;
	height: 666px;
}

#SecondDiv ul{
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.69);
	line-height: 80px;
	margin-right: 15px;
}

#SecondDiv ul a{
	text-decoration: none;
	color: white;
	padding: 30px;
	font-size: 20px;
}

#SecondDiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#SecondDiv ul li a:hover{
	color: gray;

}

.border{
	position: fixed;
	top: 0;
	left: 0;
	border: 15px double #000;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer{
	padding: 0px;
	color: white;
	background-color: rgba(0, 0, 0, 0.69);
	clear: left;
	text-align: center;
	margin-top: 482px;
}

.side{
	margin-top: 200px;
	height: 400px;
	float: right;

}

.logo1{
	float: left;
	margin-top: 155px;
}

.logo2{
	float: left;
	margin-top: 177px;
	height: 180px;
}
