body{
	font-family: Courier;
	background-image: url(bg.jpg);
	background-size: 100% 110%;
	background-repeat: no-repeat;
}

*{
	padding: 0px;
	margin: 0px;
}

#MainDiv{
	width: 100%;
	height: 666px;
}

#SecondDiv ul{
	width: 100%;
	height: 80px;
	background-color: rgba(60, 57, 57, 0.92);
	line-height: 80px;
	margin-right: 15px;
}

#SecondDiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}

#SecondDiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#SecondDiv ul li:hover{
	background: #8c8c8c;
	transition: all 0.40;

}

#SecondDiv h1{
	width: 200px;
	float: left;
	cursor: pointer;
	margin-left: 15px: 
	color: white;
}
.border{
	top: 0;
	left: 0;
	border: 6px double #000;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

