body{
	font-family: Courier;
	background-image: url(bg.jpg);
	background-size: 100% 110%;
	background-repeat: no-repeat;
}

ul{
	width: 500px;
	padding: 7px;
	margin: 0px auto 0px auto;
	border-top: 2px double #000;
	border-bottom: 1px dashed #000;
	text-align: center;
}

li{
	display: inline;
	margin: 0px 40px;
	font-size: 25px;
}

.page{
	max-width: 940px;
	min-width: 720px;
	margin: 65px 180px 50px auto;
	padding: 20px;
	border: 6px double #000;
	-moz-box-shadow: inset 0 0 10px #777777 ;
	-webkit-box-shadow: inset 0 0 10px #777777;
	box-shadow: inset 0 0 10px #777777;
	-moz-box-shadow: 5px 5px 5px 5px #777777 ;
	-webkit-box-shadow: 5px 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px 5px #777777;
}



h2{
	letter-spacing: 0.2em;
	text-align: center;
	margin-top: 230px;
	margin-left: 650px;


}
