body{
	font-family: Georgia;
	background-image: url(background.jpg);
	background-size: 100% 110%;
	background-repeat: no-repeat;
}

.nav{
	background-color: #808080;
	overflow: hidden
	float: right;
	opacity: 0.6;
}

.nav ul li{
	list-style: none;
}

.nav a{
	float: left;
	display: block;
	color: #cccccc;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 20px;
}

.nav a:hover{
	background-color: #ddd;
	color: black;
}

.nav a.active{
	background-color: red;
	color: white;
}
