body{
	font-family: Georgia;
	background-image: url(background.jpg);
	background-size: 100% 110%;
	background-repeat: no-repeat;
}

.nav{
	background-color: #808080;
	overflow: hidden
	float: right;
	opacity: 0.6;
}

.nav ul li{
	list-style: none;
	padding: 0px 35px;
}

.nav a{
	float: left;
	display: block;
	color: #e6e6e6;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 20px;
	border: 1px solid #888;
	transition: width 1s;
}

.nav a:hover{
	background-color: black;
	box-shadow: 2px 2px 2px #888;
	width: 100px;
}

.nav a.active{
	background-color: red;
	color: white;
}

